<div class="content p-4">
    <div class="row">
        <div class="col-md-3">
            <img src={{course.img}} alt={{course.name}} width="100%">
            <button> Tham gia lớp học</button>
        </div>
        <div class="col-md-9">
            <div class="content-detal">
                <h2>{{course.name}}</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                <p>{{course.description}}</p>
            </div>
        </div>
    </div>
</div>